@import 'helpers/variables';
@import 'helpers/mixins';

// Elementos Flotando
.float-anim {
  @include animaciones(floatanim, 2s, ease, 0s, infinite, alternate, center)
}

@-webkit-keyframes floatanim {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@-moz-keyframes floatanim {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@-o-keyframes floatanim {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes floatanim {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

// zoom
.anim-zoom {
  cursor: pointer;
  text-align: center;
  @include animaciones(anim-zoom, 1s);
}

@-webkit-keyframes anim-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}

@-moz-keyframes anim-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}

@-o-keyframes anim-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}

@keyframes anim-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}

// zoom big
.anim-zoom-big {
  cursor: pointer;
  text-align: center;
  @include animaciones(anim-zoom-big, 1s);
}

@-webkit-keyframes anim-zoom-big {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3, 1.3);
  }
}

@-moz-keyframes anim-zoom-big {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3, 1.3);
  }
}

@-o-keyframes anim-zoom-big {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3, 1.3);
  }
}

@keyframes anim-zoom-big {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3, 1.3);
  }
}

.glow-anim {
  @include animaciones(glow-anim-keyframes, 1s, linear, 0s, infinite, alternate, center)
}

@keyframes glow-anim-keyframes {
  0% {
    filter: drop-shadow(0 0 0px gold);
  }

  100% {
    filter: drop-shadow(0 0 10px gold);
  }
}

@-webkit-keyframes anim-zoom-big {
  0% {
    -webkit-filter: drop-shadow(0 0 0px gold);
    box-shadow: 0 0 0px gold;
  }

  100% {
    -webkit-filter: drop-shadow(0 0 10px gold);
    box-shadow: 0 0 10px gold;
  }
}