// Global

$ibra-yellow: #FDC529;
$ibra-yellow-orange-1: #F99F1B;
$ibra-blue: #006EB2; 
$ibra-blue-light: rgb(160, 216, 250); 
$ibra-dark-blue: #004C7B; 
$ibra-gray: #C8CACA;
$ibra-green: #3C9043;
$ibra-orange: #F47C20;
$ibra-dark-orange: #F05A28;
$ibra-red: #E21D25;
$ibra-white: #fff;
$ibra-gray-black: rgba(0, 0, 0, 0.411);


