$base: "../assets/"; // LOCAL -> ../assets/  ; REMOTO -> http://demos.dominioestudio.com/mase
$basemodulos: "../../assets/";
$yellow: #FFE300;
$darkblue: #19364C;
$amar-eco: #FFE400;
$verde-eco: #004637;
$verde-ecocla: #B1BF03;
$verde-cla: #CCEB81;
$azul-cla: #00C7C7;
$azul: #375D7F;
$naranja: #FF802B;
$purpura: #FFBCFF;
$dialogos: #fff2b5;

$verde-dos:#CAD500;
$verde-uno:#002A24;
